QPushButton#menu {
  color: #ddd;
  outline: 0;
  border-radius: 0;
  padding: 5px;
}

QPushButton#menu:hover {
  color: #eee;
  background-color: #f0544c;
}

QPushButton#spin,QPushButton#start {
  width: 15px;
  padding: 3px;
  outline: 0;
  border-radius: 2px;
  color: #e0e1e3;
}

QPushButton#spin {
  background-color: #535353;
  border: 1px solid #404040;
}

QPushButton#start {
  background-color: #555;
  border: 1px solid #424242;
}

QPushButton#spin:hover,QPushButton#start:hover {
  background-color: #676767;
}

QAbstractSpinBox {
  background-color: #333;
  selection-background-color: #f0544c;
  border: 1px solid #2e2e2e;
  color: #e0e0e0;
}

QMenu,QWidget#window,QWidget#popup {
  background-color: #444;
}

QMenu,QWidget#popup {
  border: 0;
}

QLabel {
  color: #ddd;
}
