QPushButton#menu {
  color: palette(dark);
  outline: 0;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

QPushButton#menuhover {
  color: palette(text);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: palette(highlight);
}

QPushButton#spin {
  width: 15px;
  padding: 5px;
  margin-left: 3px;
  margin-right: 6px;
  outline: 0;
  border-radius: 4px;
}

QPushButton#spin:hover {
  background-color: palette(highlight);
}

QSpinBox {
  width: 40px;
  height: 35px;
  font-size: 16px;
}
