QWidget#window {
  background-color: #322d30;
}

QPushButton#menuItem, QPushButton#menuItemHover {
  outline: 0;
  border-radius: 5px;
  padding: 2px 8px;
  margin: 0px 5px;
  color: palette(text);
  min-width: 132px;
  text-align: left;
}

QPushButton#menuItemHover {
  background-color: rgba(250, 240, 245, 20);
}

QPushButton#spin {
  width: 17px;
  height: 17px;
  padding: 5px;
  margin-left: 6px;
  margin-right: 10px;
  margin-bottom: 4px;
}

QPushButton#spin, QPushButton#start {
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
}

QPushButton#start {
  height: 20px;
  padding: 5px;
  background-color: #4b444a;
  border-color: #2d272d;
}

QPushButton#spin {
  background-color: #3b343a;
  border: none;
}

QPushButton#spin:hover, QPushButton#start:hover {
  background-color: #5b545a;
}

QPushButton#spin:pressed, QPushButton#start:pressed {
  background-color: #777;
}

QSpinBox {
  width: 40px;
  height: 35px;
  font-size: 16px;
  background-color: #1f191e;
}

QWidget#popup {
  background-color: #322f2f;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #444;
}

QWidget#popup > QLabel {
  font-size: 90px;
  margin: 20px 1px;
  padding: -5px;
}
