QPushButton#menu {
  color: palette(dark);
  outline: 0;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  min-width: 150px;
}

QPushButton#menuhover {
  color: palette(text);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: palette(highlight);
}

QPushButton#spin {
  width: 17px;
  height: 17px;
  padding: 5px;
  margin-left: 6px;
  margin-right: 10px;
  margin-bottom: 4px;
}

QPushButton#start {
  height: 20px;
  padding: 5px;
}

QPushButton#spin, QPushButton#start {
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #555;
}

QPushButton#spin:hover, QPushButton#start:hover {
  background-color: #555;
}

QPushButton#spin:pressed, QPushButton#start:pressed {
  background-color: #777;
}

QSpinBox {
  width: 40px;
  height: 35px;
  font-size: 16px;
}

QWidget#popup > QLabel {
  font-size: 65px;
}
